/* Welcome to Compass. Use this file to write IE specific override styles. Import this file using the following HTML or equivalent: <!--[if IE]> <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /> <![endif]--> */
.clearfix { *zoom: 1; }

.secondary-links li { border-left: 1px solid #36cef7; }

.secondary-links li:first-child { border-left: none; }

span.email { border-left: 1px solid white; }

.dropdown { left: 0; }

header .menu > li > a { line-height: 20px; }

header .menu { border: none; }
