.hNav {
  position: relative;
  float: left;
}

.aside-menu,
.secondary-links,
header .menu {
  li {
    list-style: none;
  }
}

.secondary-links  {
  li {
    @extend .hNav;
    padding: 6px 11px 0;
    &:after {
      position: absolute;
      left: -3px;
      color: #02a1d6;
      content: "|";
    }
    &:first-child:after {
      content: "";
    }
  }
  header & {
    float: right;
    margin: 0;
    padding: 0;
  }
}

.secondary-links a:hover {
  text-decoration: none;
}

header .menu > li {
  @extend .hNav;
  padding: 0;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  & > a {
    display: inline-block;
    padding: 10px 14px 5px 13px;
    color: #024269;
    line-height: 16px;
    text: {
      shadow: 0 1px 0 #fff ;
      decoration: none;
    }
  }
  &:hover:after {
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #276994;
    content: "";
  }
  &:hover > a {
    color: #fff;
    text-shadow: 0 1px 0 #7c8d9a;
  }
}

.dropdown {
  position: absolute;
  z-index: 9;
  top: 35px;
  float: none;
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #024269;
  text-transform: none;
  background-color: #89cfe2;
  a {
    display: block;
    padding: 6px 0 6px 14px;
    text-decoration: none;
    &:hover {
      color: #fff;
      background-color: #026997;
    }
  }
  .menu li:hover & {
    display: block;
  }
  .menu a:hover & {
    li {
    display: block;
    width: 100%;
    padding: 0;
  }
 }
}

.content nav {
  ul {
    margin: 0;
    padding: 7px 0 5px;
  }
  li {
    display: inline;
    padding: 0 0 0 16px;
    list-style-image: none;
    &:first-child {
      background: none;
      padding: 0;
    }
  }
}

.content {
   h1 {
    margin: 17px 0 0;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
    color: #025d89;
    letter-spacing: -1px;
    & + section h2 {
      margin: 28px 0 17px;
      color: #625f9e;
      line-height: 18px;
    }
   }
}

.content .secondary-links {
  margin: 0;
  padding: 16px 0 38px;
  border-top: 1px solid #ccc;
  li {
    padding: 3px 11px 0;
    &:first-child {
      padding-left: 2px;
    }
  }
}
