// COLORS
$black: #000;
$white: #fff;
$purple: #7573b5;

/*maybe not best namimg :)*/
$theme-darkest-color: $white;
$theme-color: $purple;
$theme-lightest-color: $white;



// DIMENSIONS
$mHeight: 100%;
$mWidth: 950px;
$center: 0 auto;
$aside: 223px;
$cPadding: 40px;
$hFooter: 40px;